<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <br>
<br>
  <div class="card" >
    <div class="card-header">
        New Todo
    </div>

    <div class="card-body">
        
      <form name="createForm" #createForm="ngForm" (ngSubmit)="create(createForm)" novalidate>

        <div class="form-group">
          <label> Name </label>
          <input type="text" name="name" [(ngModel)]="name"  class="form-control"required/>
          <span style="color:red" *ngIf="createForm.submitted && !name ">
            This Field is Required
          </span>
        </div>
      
        <button class="btn btn-primary"> Add </button>
      </form> 
    </div>
  </div>
<br>
<br>


  <div class="card" >
    <div class="card-header">
        Todo List
    </div>

    <div class="card-body">
      <table class="table table-striped ">
        
        <tr *ngFor="let task of response ">
          <td> {{task.name}}</td>
          
          <td>
            <button class="btn btn-danger" (click)="delete('tasks/'+task.id)"> Delete </button>
          </td>

        </tr>
      </table>
    </div>
  </div>

  <br>
  <br>
</div>

